$color-dark: rgb(17, 16, 16);
$color-dark02: rgb(37, 36, 36);
$color-dark03: rgb(51, 50, 50);
$color-dark04: rgb(68, 67, 67);
$color-dark05: rgb(83, 83, 83);
$color-light: #f2f2f2;
$color-light02: #e7e5e5;
$color-light03: #dbd8d8;
$color-light04: #c7c5c5;
$color-light05: #b1aeae;
$color-green: #61a840;
$color-turquoise: #159f9f;
$color-blue: #4b84e5;
$color-violet: #6d6fd6;
$color-purple: #a36fe6;
$color-pink: #ec9de6;

@mixin color($hue: dark) {
  @if $hue == dark {
    color: $color-dark;
  }
  @if $hue == light {
    color: $color-light;
  }
  @if $hue == blue {
    color: $color-blue;
  }
  @if $hue == purple {
    color: $color-purple;
  }
  @if $hue == green {
    color: $color-green;
  }
  @if $hue == turquoise {
    color: $color-turquoise;
  }
  @if $hue == pink {
    color: $color-pink;
  }
  @if $hue == violet {
    color: $color-violet;
  }
}

.color-dark {
  color: $color-dark;
}

.color-light {
  color: $color-light;
}

.color-blue {
  color: $color-blue;
}

.color-purple {
  color: $color-purple;
  border-bottom: 2px $color-purple;
}
.underline-green {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $color-green;
  @media screen and (min-width: 320px) {
    text-decoration-thickness: 6px;
  }
}
.color-turquoise {
  color: $color-turquoise;
}
.color-pink {
  color: $color-pink;
}
.underline-violet {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $color-violet;
  @media screen and (min-width: 700px) {
    text-decoration-thickness: 6px;
  }
}

@mixin gradient-text($color-1: blue, $color-2: pink) {
  background: -webkit-linear-gradient($color-1, $color-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
