.header {
  align-items: center;
  background-color: $color-light;
  color: $color-dark;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-column: 2/5;
  justify-content: center;
  line-height: 1.1;
  // margin: 0.25rem;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  @media screen and (min-width: 700px) {
    padding: 100px 0 20px 30px;
    justify-content: left;
    flex-direction: row;
  }
  .header-avatar {
    background: $color-light;
    border-radius: 50%;
    // box-shadow: 1px 3px 5px hsla(0, 2%, 8%, 0.884);
    margin: 25px;
    max-width: 100px;
    transition: 0.3s;
    img {
      width: 100%;
      height: auto;
    }
    @media screen and (min-width: 700px) {
      display: initial;
      margin: auto 55px auto 0px;
      max-width: 200px;
    }
  }
  .header-text {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
      transition: 0.3s;
      @media screen and (min-width: 375px) {
        font-size: 3rem;
        text-align: left;
      }
      @media screen and (min-width: 700px) {
        font-size: 5rem;
        text-align: left;
      }
    }
  }
}

.header-subtitle {
  @include color(blue);
  font-size: 1.3rem;
  margin-top: 50px;
  @media screen and (min-width: 700px) {
    margin-top: 300px;
    font-weight: 900;
    font-size: 42px;
  }
}

@media screen and (min-width: 700px) {
  .header {
    // margin: 1rem;
    // padding: 2rem;
  }
  .header-avatar {
    max-width: 200px;
    // margin: 0 5px 0 5px;
  }
  h1 {
    font-size: 72px;
    font-weight: 900;
  }
}
